{% extends "base.html"%}
{%load static%}
{% block title%}
    {{month|title}} Challenge
{%endblock%}
 {% block css_files%}
<link rel="stylesheet" href="{%static "challenges/includes/header.css" %}">
<link rel="stylesheet" href="{%static "challenges/challenge.css" %}">
{%endblock%}

{%block content%}
    {% include 'challenges/includes/header.html' with active_page='challenge' %}
    <h1>
        The Month is {{month|title}}
    </h1>
    {% if text is not None %}
    <h2>
        {{text}}
    </h2>
    {%else %}
    <p>
    There is not challenge
    </p>
    {% endif%}
{%endblock%}
