@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300;1,400&display=swap');
html{
    font-family: 'Ubuntu', sans-serif;
}
body{
    margin: 0;
    background-color: rgba(1,1,1);
}